body {
  background-color: #fff;
  
}

.content {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  font-family: cursive;
}

h1 {
   text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  font-family: cursive;
}
